<!DOCTYPE html><html><head><meta charset=utf-8><meta name=description content=""><meta name=keywords content=""><meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0"><title>Englishhobby</title><link href=/static/css/app.35b40fbb623be8430cb277d9a8c84636.css rel=stylesheet></head><body><div id=app-box></div><script type=text/javascript src=/static/js/manifest.da9ccd9b04a9e3bf4517.js></script><script type=text/javascript src=/static/js/vendor.020bb33e5f0c0bf87efd.js></script><script type=text/javascript src=/static/js/app.bdfdfb2f07b426cf3e17.js></script></body><script>// 浏览器隐藏工具栏和地址栏
  /*window.onload = function () {
    if (document.documentElement.scrollHeight <= document.documentElement.clientHeight) {
      let bodyTag = document.getElementsByTagName('body')[0]
      bodyTag.style.height = document.documentElement.clientWidth / screen.width * screen.height + 'px'
    }
    setTimeout(function () {
      window.scrollTo(0, 1)
    }, 0)
  }*/</script></html>